<%= form_with(model: nonconformity_level) do |form| %>
  <% if nonconformity_level.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(nonconformity_level.errors.count, "error") %> prohibited this nonconformity_level from being saved:</h2>

      <ul>
        <% nonconformity_level.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :level, style: "display: block" %>
    <%= form.text_field :level %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
