<div id="<%= dom_id nonconformity %>">
  <p>
    <strong>Vehicleparts:</strong>
    <%= VehiclePart.find(nonconformity.vehicleParts).name %>
  </p>

  <p>
    <strong>Nonconformitytypes:</strong>
    <%= NonconformityType.find(nonconformity.nonconformityTypes).nctype %>
  </p>

  <p>
    <strong>Nonconformitylevels:</strong>
    <%= NonconformityLevel.find(nonconformity.nonconformityLevels).level %>
  </p>

  <p>
    <strong>Quadrants:</strong>
    <%= Quadrant.find(nonconformity.quadrants).option %>
  </p>

  <p>
    <strong>Measures:</strong>
    <%= Measure.find(nonconformity.measures).size %>
  </p>

  <p>
    <strong>Nonconformitylocals:</strong>
    <%= NonconformityLocal.find(nonconformity.nonconformityLocals).local %>
  </p>

  <p>
    <strong>Vehicles:</strong>
    <%= Vehicle.find(nonconformity.vehicle_id).chassis %>
  </p>

  <% [:image1, :image2, :image3, :image4].each do |image_attr| %>
    <% if nonconformity.send(image_attr).present? %>
      <p>
        <strong><%= image_attr.to_s.capitalize.gsub('Image', '') %> :</strong>
        <img src="<%= nonconformity.send(image_attr) %>" alt="<%= image_attr.to_s.capitalize.gsub('Image', '') %> Image" />  
      </p>
    <% end %>
  <% end %>

</div>
