<div id="<%= dom_id nonconformity %>">
  <p>
    <strong>Vehicleparts:</strong>
    <%= nonconformity.vehicleParts %>
  </p>

  <p>
    <strong>Nonconformitytypes:</strong>
    <%= nonconformity.nonconformityTypes %>
  </p>

  <p>
    <strong>Nonconformitylevels:</strong>
    <%= nonconformity.nonconformityLevels %>
  </p>

  <p>
    <strong>Quadrants:</strong>
    <%= nonconformity.quadrants %>
  </p>

  <p>
    <strong>Measures:</strong>
    <%= nonconformity.measures %>
  </p>

  <p>
    <strong>Nonconformitylocals:</strong>
    <%= nonconformity.nonconformityLocals %>
  </p>

  <p>
    <strong>Vehicles:</strong>
    <%= nonconformity.vehicle_id %>
  </p>

  <% [:image1, :image2, :image3, :image4].each do |image_attr| %>
    <% if nonconformity.send(image_attr).present? %>
      <p>
        <strong><%= image_attr.to_s.capitalize.gsub('Image', '') %> :</strong>
        <img src="<%= nonconformity.send(image_attr) %>" alt="<%= image_attr.to_s.capitalize.gsub('Image', '') %> Image" />  
      </p>
    <% end %>
  <% end %>

</div>
